쇼핑몰 평점 예측

# 1. 데이터 준비

In [15]:
import pandas as pd
train= pd.read_csv('dataset/train.csv')

# 2. 데이터 확인

In [16]:
train.head()

   id                                            reviews  target
0   0                                     조아요 처음구입 싸게햇어요       2
1   1  생각보다 잘 안돼요 매지 바른지 하루밖에 안됐는데ㅠㅠ 25천원가량 주고 사기 너무 ...       1
2   2  디자인은괜찮은데 상품이 금이가서 교환했는데 두번째받은상품도 까져있고 안쪽에 금이가져...       2
3   3  기전에 이 제품말고 이마트 트레이더스에서만 팔던 프리미엄 제품을 사용했었습니다. 샘...       2
4   4                                  튼튼하고 손목을 잘 받쳐주네요~       5

In [17]:
train.tail()

          id                                      reviews  target
24995  24995          일단향이너무너무좋은데지속력만좋다면좋겠지만..워낙저렴해그래도좋아여       5
24996  24996  동일한 업체에서 발송하고 한 상자로 배송되었는데 택배비는 이중 처리되었습니다.       2
24997  24997                      향이 좋아요!! 다른 향도 시켜보고 싶어요       4
24998  24998    펼쳐보니 끝부분쯤에 50cm정도 찟어져 있습니다 날짜관계로 구냥 사용합니다       2
24999  24999                             호호애미 제품은 늘 믿고 써요       5

In [18]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       25000 non-null  int64
 1   reviews  25000 non-null  object
 2   target   25000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 586.1+ KB

3개의 변수로 이루어져있음

25000개의 행으로 이루어져있음을 알 수 있음

결측치는 없음

# 3. 데이터 전처리

x는 리뷰, y는 타겟(쇼핑몰 평점)

### 1. feature selection

In [27]:
x = train['reviews']
y = train['target']

### 2. 텍스트 전처리

컴퓨터는 문자를 해석할 수 없다. 따라서 문자를 숫자로 바꿔준 다음 입력해야한다. 이러한 과정을 워드 임베딩(word embedding)이라고 한다.

다음 과정을 CountVectorizer을 통해 진행해보겠다.

CountVectorizer은 입력된 문장을 토큰화하여 토큰의 등장 빈도 벡터로 바꿔주는 기법임

토큰화란 문장을 의미있는 최소의 단위로 쪼개는 것을 의미함

띄어쓰기를 기준으로 토큰화 진행할 것이다

sklearn 패키지에 있는 CountVectorizer 를 불러온다

In [34]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()

이제 CountVectorizer를 학습시켜줘야 함

어떠한 단어들을 사용할 지, 어떠한 단어가 중요도를 가지는지 학습하는 과정이다

CountVectorizer 의 경우 단어의 출현 빈도를 기준으로 문장을 벡터(=숫자의 집합)로 바꿔줍니다

In [37]:
#CountVectorizer 학습
vectorizer.fit(train['reviews'])

CountVectorizer()

In [44]:
from sklearn.model_selection import train_test_split

#자연어를 숫자형 벡터로 변환
train_data, val_data = train_test_split(train, test_size = 0.25, stratify = train.target)
# 전처리 과정에서 데이터가 뒤섞이지 않도록 인덱스를 초기화
train_data = train_data.reset_index().drop('index', axis=1)
val_data = val_data.reset_index().drop('index', axis=1)

          id                                            reviews  target
0        247                               소매가 칠부길이정도네요 냄새가 심해요       2
1      13804                                   타사보다 제품은 확실히 좋네여       5
2       8029  동봉된 케이블의 내구성이 꽝입니다. 제 실수가 명백히 아닌데도 a/s가 불가능하다네...       1
3      21910                                     잘받았어욥 잘쓰고있어요~~       5
4       7431                             기대이상이네요. 몇장 더 살걸 그랬어요.       5
...      ...                                                ...     ...
18745  19091                                  전기료 무섭네요 못쓸거 같습니다       1
18746  13964                           그냥딱배송왓는데딱한번입더니 안입고처바가두네요       2
18747  22689                                 약해서 못쓰겠네요~폐기처분..!!       1
18748  19624  주말인데도 배송이 하루만에 왔네요. 포장도 꼼꼼하고 모자처럼 너무 귀여워요~~ㅎㅎ ...       5
18749  11908                     다이소랑 가격은 같은데 재질이 좀 두꺼워서 더 좋네요~       5

[18750 rows x 3 columns]

In [48]:
#크기 확인
print('train 데이터 셋 크기 확인 : ',train_data.shape)
print('test 데이터 셋 크기 확인 : ', val_data.shape)

train 데이터 셋 크기 확인 :  (18750, 3)
test 데이터 셋 크기 확인 :  (6250, 3)

In [72]:
train_X= train_data.reviews
train_y = train_data.target

val_X = val_data.reviews
val_y = val_data.target

In [73]:
train_X = vectorizer.transform(train_X)
val_X = vectorizer.transform(val_X)

In [74]:
print(train_X[10])

  (0, 4832)	1
  (0, 6388)	1
  (0, 7079)	1
  (0, 8792)	1
  (0, 10155)	1
  (0, 13528)	1
  (0, 17923)	1
  (0, 22325)	1
  (0, 23107)	1
  (0, 23108)	1
  (0, 30302)	1
  (0, 30690)	1
  (0, 31553)	1
  (0, 34996)	1
  (0, 36990)	1
  (0, 38847)	1
  (0, 39902)	1
  (0, 47261)	1
  (0, 49387)	1
  (0, 50289)	1
  (0, 51301)	1

In [75]:
# inverse_transform을 사용해 원문을 확인할 수 있습니다.
vectorizer.inverse_transform(train_X[10])

[array(['고구마', '구매했는데', '그냥', '깨끗하긴', '남았네요', '당도도있고', '많고', '박스', '밤고구마가',
        '밤고구마라해서', '섞은거', '섬유질', '손이', '아니라', '않가네요', '없이', '예요ㅜㅜ', '제가',
        '줄기도', '질뻑한', '찾는'], dtype='<U100')]

해당 대회에서 예측하고자 하는 것이 연속적인 수치값이 아닌 0,1 등 1단위로 끊어지는 부류이기 때문에 category를 분류할 때 사용하는 Logistic Regression를 사용한다

In [76]:
from sklearn.linear_model import LogisticRegression #모델 불러오기
model = LogisticRegression(max_iter=500) #객체에 모델 할당
model.fit(train_X, train_y) #모델 학습

LogisticRegression(max_iter=500)

# 4. 모델 평가

사용할 지표(metric)은 정확도(accuracy)이다

In [77]:
import numpy as np

def ACCURACY(true, pred):   
    score = np.mean(true==pred)
    return score

In [78]:
y_pred = model.predict(val_X)
# 모델의 예측과 실제 정답값을 비교합니다.
score = ACCURACY(val_y, y_pred)

print(f"모델의 정확도는 {score*100:.2f}% 입니다")

모델의 정확도는 60.37% 입니다

# 5. train데이터와 val데이터 100% 활용하는 모델

In [97]:
# 최종적으로 학습에 사용할 모든 리뷰를 설정해줍니다.
X = train_data.reviews
y = train_data.target

vectorizer = CountVectorizer() #countvectorizer 생성
vectorizer.fit(X) #countvectorizer 학습
X = vectorizer.transform(X) #transform

In [98]:
model = LogisticRegression(max_iter=500) #객체에 모델 할당
model.fit(X, y) #모델 학습

LogisticRegression(max_iter=500)

In [99]:
from sklearn.metrics import accuracy_score

#run model
y_pred = model.predict(X[0])
print('예측 라벨 : ', y_pred)
print('실제 라벨 : ', train.target[0])

예측 라벨 :  [2]
실제 라벨 :  2

In [101]:
vectorizer.inverse_transform(X[0]) #역변환하여 첫번째 문장의 단어들 확인

[array(['냄새가', '소매가', '심해요', '칠부길이정도네요'], dtype='<U100')]

# 6. 예측하기

In [104]:
test = pd.read_csv('dataset/test.csv')

In [107]:
test.head()

   id                                            reviews
0   0                                     채소가 약간 시들어 있어요
1   1  발톱 두껍고 단단한 분들 써도 소용없어요 이 테이프 물렁거리고 힘이없어서 들어 올리...
2   2                           부들부들 좋네요 입어보고 시원하면 또 살게요
3   3      이런 1. 8 골드 주라니깐 파란개 오네 회사전화걸어도 받지도 않고 머하자는거임?
4   4       검수도 없이 보내구 불량 배송비 5000원 청구하네요 완전별로 별하나도 아까워요

In [109]:
test_X = test.reviews
test_X_vect = vectorizer.transform(test_X)

In [110]:
#예측
pred = model.predict(test_X_vect)

In [112]:
print(pred)

[5 2 5 ... 2 5 1]

# 7. 파일 제출

In [115]:
submission = pd.read_csv("dataset/sample_submission.csv")
submission.head()

   id  target
0   0       0
1   1       0
2   2       0
3   3       0
4   4       0

In [116]:
submission['target'] = pred
submission.head()

   id  target
0   0       5
1   1       2
2   2       5
3   3       2
4   4       1